<form method="post" action="{{ path('app_wintering_delete', {'id': wintering.id}) }}" onsubmit="return confirm('Jesteś pewien że chcesz skasowac ten wpis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wintering.id) }}">
    <button class="contact__form-btn btn-special-animation spacer">Usuń wpis</button>
</form>
