{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
<div class="place">
    <h1>Edytuj serwis</h1>

    {{ include('service/_form.html.twig', {'button_label': 'Aktualizuj'}) }}

    <a href="{{ path('app_service_index') }}">
        <button class="contact__form-btn btn-special-animation spacer">Powrót</button>
    </a>

    {# errors #}
    {% for flashError in app.flashes('error') %}
        <div class="flash-error">
            {{ flashError }}
        </div>
    {% endfor %}

    {{ include('service/_delete_form.html.twig') }}
</div>
{% endblock %}
