{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
    <h1>Edit Service</h1>

    {{ include('service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_service_index') }}">back to list</a>

    {# errors from ...       #}
    {% for flashError in app.flashes('error') %}
        <div class="flash-error">
            {{ flashError }}
        </div>
    {% endfor %}

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
