{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <div class="place">
        <h1>Zamów serwis</h1>

        {{ include('service/_form.html.twig') }}

        <a href="{{ path('app_service_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">Powrót</button>
        </a>
    </div>
{% endblock %}
