{% extends 'base.html.twig' %}

{% block body %}
    <div class="place">
        <h1>Edytuj wpis</h1>

        {{ include('place_crud/_form.html.twig', {'button_label': 'Aktualizuj'}) }}

        <a href="{{ path('app_place_crud_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">Powrót</button>
        </a>

        {{ include('place_crud/_delete_form.html.twig') }}
    </div>


{% endblock %}
