{% extends 'base.html.twig' %}

{% block title %}Edit Place{% endblock %}

{% block body %}
    <h1>Edit Place</h1>

    {{ include('place_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_place_crud_index') }}">back to list</a>

    {{ include('place_crud/_delete_form.html.twig') }}
{% endblock %}
