$main-color: #1755e7;
$second-color: #164dcc;
$white: #fff;
$light-white: #eee;
$dark: #3e3e3e;
$green: #00ffaa;

// main site
$dark-gradient: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.75));

// price cards
$dark-blue-gradient: radial-gradient(
	circle at top right,
	rgb(0, 70, 200) 0%,
	rgb(0, 91, 97) 100%
);

// nav
$blue-gradient-solid: linear-gradient(
	45deg,
	rgb(50, 102, 210),
	rgb(45, 40, 100)
);