.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 20px;
  transition-duration: 0.5s;
  z-index: 100;
}
.burger-btn__circle {
  transition-duration: 0.5s;
  position: absolute;
  height: 60px;
  width: 60px;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 4px solid whitesmoke;
  left: -15px;
}
.burger-btn__icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 30px;
  background-color: whitesmoke;
  border-radius: 4px;
}
.burger-btn__icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: whitesmoke;
  content: "";
  top: -10px;
  border-radius: 4px;
}
.burger-btn__icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: whitesmoke;
  content: "";
  top: 10px;
  border-radius: 4px;
}
.burger-btn--open .burger-btn__icon {
  transition-duration: 0.5s;
  background: transparent;
}
.burger-btn--open .burger-btn__icon:before {
  transform: rotateZ(-45deg) scaleX(-1.25) translate(6.5px, 6.5px);
}
.burger-btn--open .burger-btn__icon:after {
  transform: rotateZ(45deg) scaleX(-1.25) translate(6px, -6px);
}
.burger-btn:hover {
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, rgb(38, 102, 206), rgb(45, 33, 100));
  transform: translateX(100%);
  transition: transform 0.5s;
  z-index: 90;
}
.nav--active {
  transform: translateX(0%);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  text-decoration: none;
  color: #fff;
  z-index: 0;
}
.nav__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 0;
  width: 100%;
  background-color: whitesmoke;
  z-index: -1;
  transition: height 0.5s;
}
.nav__item::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  height: 0;
  width: 100%;
  background-color: whitesmoke;
  z-index: -1;
  transition: height 0.5s;
}
.nav__item:hover {
  color: #164dcc;
}
.nav__item:hover::before, .nav__item:hover::after {
  height: 50%;
}

@keyframes navigoAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-anima {
  animation: navigoAnimation 1s both;
}

.header {
  position: relative;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/chiayi_port_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  letter-spacing: 2px;
}
.header__text {
  font-size: 1.1rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  color: #2e2e2e;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #eee;
}

.weather-widget {
  display: none;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #1755e7;
  letter-spacing: 2px;
}

.section-padding {
  padding: 6em 2em;
}

.offers__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.offers__img {
  width: 100%;
  margin-bottom: 1em;
}
.offers__title {
  margin-bottom: 0.5em;
}
.offers__text {
  font-size: 1.4rem;
}
.offers__img {
  border-radius: 15px;
}

.hero-img {
  position: relative;
  padding: 10em 2em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/boats_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}
.hero-img__title {
  font-family: "Dancing Script", cursive;
  font-size: 4.8rem;
  margin-bottom: 1em;
}
.hero-img__text {
  padding: 1em;
}

.price__card {
  position: relative;
  margin: 1em 0;
  height: 500px;
  color: #fff;
  text-align: center;
  perspective: 1500px;
}
.price__card:hover .price__card-img {
  transform: rotateY(-180deg);
  opacity: 0;
}
.price__card:hover .price__card-info {
  transform: rotateY(0);
  opacity: 1;
}
.price__card-img {
  padding: 2em;
  height: 100%;
  border-radius: 6px;
  background-size: cover;
  transition: transform 1.5s, opacity 1.5s;
  background-size: cover;
  background-position: center;
}
.price__card-img--first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/price1a.jpg");
}
.price__card-img--second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/price2a.jpg");
}
.price__card-img--third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/price3a.jpg");
}
.price__card-img--fourth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/price4a.jpg");
}
.price__card-img-title {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}
.price__card-img-info {
  position: absolute;
  bottom: 20px;
  right: 35px;
  font-size: 4rem;
}
.price__card-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background-image: radial-gradient(circle at top right, rgb(0, 60, 199) 0%, rgb(0, 81, 97) 100%);
  transform: rotateY(180deg);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
.price__card-info-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1em;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}
.price__card-info-list {
  margin: 0 auto;
  width: 70%;
  list-style: none;
}
.price__card-info-list-item {
  padding: 1em;
  font-size: 1.4rem;
  border-bottom: 1px solid #eee;
}
.price__card-info-list-item:last-child {
  border-bottom: none;
}
.price__card-info-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2em;
  padding: 1.1em;
  border-radius: 6px;
  width: 75%;
  border: none;
  background-color: rgb(170, 9, 170);
  cursor: pointer;
}
.price__card-info-btn::before {
  background-color: yellow;
}

.news {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/news_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.news .section-heading {
  color: #fff;
}
.news__option {
  margin: 1em 0;
  box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.16);
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
}
.news__option-img {
  width: 100%;
  transition: transform 0.3s;
}
.news__option-img:hover {
  transform: scale(1.1);
}
.news__option-info {
  padding: 2em;
  background-color: #fff;
  z-index: 15;
}
.news__option-heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 300;
}
.news__option-text {
  margin-bottom: 0.5em;
  font-size: 1.4rem;
  color: #2e2e2e;
}
.news__option-btn {
  margin-top: 1rem;
  padding: 0.9em;
  width: 100%;
  color: #fff;
  background-color: #1755e7;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.news__option-btn::before {
  background-color: magenta;
  color: black;
}

.contact {
  position: relative;
  background-color: #eee;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form-top {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.4em;
  text-transform: uppercase;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.5em 1.1em;
  border: none;
  border-radius: 8px;
  font-size: 1.7rem;
}
.contact__form-area {
  margin-bottom: 2em;
  padding: 0.5em 1.1em;
  border: none;
  border-radius: 8px;
  font-size: 1.7rem;
  max-width: 100%;
  width: 100%;
  min-height: 175px;
}
.contact__form-btn {
  align-self: center;
  padding: 1em;
  width: 13em;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #1755e7;
  cursor: pointer;
}
.contact__form-btn::before {
  background-color: #2e2e2e;
}

.footer {
  color: #fff;
  background-color: rgb(65, 65, 65);
}
.footer .wrapper {
  padding: 1em;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
}
.footer__bottom-text {
  text-align: center;
}

.place {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/chiayi_port_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.place__info {
  font-size: 2rem;
}
.place__info p {
  padding: 0.2em;
}
.place__form {
  padding: 2rem;
}
.place label {
  font-size: 2.3rem;
}
.place #place_start_date,
.place #place_end_date {
  margin-top: 0.3em;
  margin-bottom: 2em;
}
.place #place_start_date_day,
.place #place_start_date_month,
.place #place_start_date_year,
.place #place_end_date_day,
.place #place_end_date_month,
.place #place_end_date_year {
  min-width: 75px;
  max-width: 75px;
  min-height: 25px;
  max-height: 25px;
  border-radius: 5px;
}
.place__result {
  width: 25em;
  overflow: auto;
  column-count: 2;
}
.place__result li {
  list-style: none;
  padding-bottom: 1.1em;
}

.places__map {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.title {
  padding: 1em 0;
}

.reg_form {
  padding: 0.5em;
  background-color: rgba(47, 40, 40, 0.75);
}
.reg_form label {
  display: flex;
  justify-content: center;
  color: #fff;
}
.reg_form input {
  display: flex;
  border-radius: 7px;
  min-width: 250px;
  height: 2em;
}
.reg_form--terms div {
  display: block;
  padding: 0.5em 0;
}

.login_form {
  display: block;
  padding: 0.5em;
  background-color: rgba(47, 40, 40, 0.75);
}
.login_form label {
  display: flex;
  justify-content: center;
  color: #fff;
}
.login_form input {
  display: flex;
  border-radius: 7px;
  min-width: 250px;
  height: 2em;
}

.spacer {
  margin-top: 1em;
  margin-bottom: 4em;
}

.bgeraser {
  background-image: none;
}

@media (min-width: 576px) {
  .header__heading {
    font-size: 4.8rem;
  }
  .header__text {
    font-size: 1.4rem;
  }
  .offers__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .offers__box-text {
    width: 55%;
  }
  .offers__box-text--right {
    text-align: right;
  }
  .offers__box-img {
    width: 40%;
  }
  .offers__box-img--right {
    order: 1;
  }
  .offers__img {
    margin-bottom: 0;
    max-height: 300px;
  }
}
@media (min-width: 768px) {
  .burger-btn {
    top: 130px;
    right: 20px;
  }
  .sticky {
    top: 30px;
    right: 20px;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .weather-widget {
    display: block;
  }
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
  .offers__text {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 30rem 2em;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 70%;
  }
  .price__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .price__card {
    margin: 1em;
    width: 30%;
  }
  .news__option {
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .news__option-img {
    width: 50%;
    height: auto;
  }
  .news__option-img--right {
    order: 1;
  }
  .news__option-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .news__option-heading {
    font-size: 3.5rem;
  }
  .news__option-btn {
    padding: 1em;
  }
  .place {
    height: 75vh;
  }
  .place__result {
    width: 35em;
    column-count: 3;
  }
  .footer__boxes {
    display: flex;
    justify-content: space-between;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__box {
    margin: 0 2em;
    width: 20%;
  }
  .footer__box:first-child {
    width: 60%;
  }
  .footer__box-title {
    font-size: 2rem;
  }
  .footer__box-list {
    list-style: none;
  }
  .footer__box-list {
    margin-bottom: 1em;
  }
  .footer__box-list a {
    text-decoration: none;
    color: whitesmoke;
  }
  .login_form {
    display: flex;
    padding: 0.5em;
    background-color: rgba(47, 40, 40, 0.75);
    width: 450px;
    justify-content: space-between;
  }
  .login_form label {
    justify-content: center;
    color: #fff;
  }
  .login_form input {
    border-radius: 7px;
    min-width: 350px;
    height: 2em;
  }
  .reg_form div {
    display: flex;
    width: 500px;
    justify-content: space-between;
  }
  .reg_form--terms div {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 120px;
    right: 40px;
  }
  .sticky {
    top: 40px;
    right: 40px;
  }
  .header,
  .place {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/chiayi_port_1920.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .header__heading,
  .place__heading {
    font-size: 10rem;
  }
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
  .offers__box {
    margin: 5em 0;
  }
  .offers__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2em;
  }
  .offers__title {
    font-size: 3.3rem;
  }
  .offers_-text {
    font-size: 2.2rem;
  }
  .hero-img {
    padding: 15rem 2em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/boats_1920.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .hero-img__title {
    font-size: 7rem;
  }
  .hero-img hr {
    width: 60%;
    max-width: 900px;
  }
  .news {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/news_1920.jpg");
  }
  .news-option-img {
    height: 300px;
  }
  .place__result {
    width: 45em;
    column-count: 4;
  }
}
@media (min-width: 1200px) {
  .price__card {
    width: 22%;
  }
  .place__result {
    width: 60em;
    column-count: 5;
  }
}
.navPanel__items {
  list-style: none;
  display: flex;
}
.navPanel__items li {
  margin: 1em;
}
.navPanel__items li a {
  padding: 0.2em;
  text-decoration: none;
  color: #fff;
  font-size: 2.3rem;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 7px;
}
.navPanel__items li a:hover {
  background-color: #2e2e2e;
  border: 1px solid #2e2e2e;
}

/*# sourceMappingURL=style.css.map */
