{% extends 'base.html.twig' %}

{% block title %}Edit Rfid{% endblock %}

{% block body %}
    <div class="place">
        <h1>Edytuj klucz</h1>

        {{ include('rfid/_form.html.twig', {'button_label': 'Aktualizuj'}) }}

        <a href="{{ path('app_rfid_index') }}">
            <button class="contact__form-btn btn-special-animation spacer">Powrót</button>
        </a>

        {{ include('rfid/_delete_form.html.twig') }}

    </div>

{% endblock %}
