<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="najlepsze miejsce na wakacje" />
        <meta name="keywords" content="zagle, łodzie, morze, jezioro, wakacje" />
        <meta name="author" content="Lukasz Kaszewski" />
        <title>Marina Best</title>
{#        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">#}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
                href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&display=swap"
                rel="stylesheet"
        />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}

{#        {% block javascripts %}#}
{#            {{ importmap() }}#}
{#            <script#}
{#                    src="https://kit.fontawesome.com/de872b4021.js"#}
{#                    crossorigin="anonymous"#}
{#            ></script>#}


{#        {% endblock %}#}
    </head>
    <body>
    <!-- weather 1 -->
    <div class="weather-widget">
        <a
                class="weatherwidget-io xxx"
                href="https://forecast7.com/pl/53d4314d55/szczecin/"
                data-label_1="Szczecin"
                data-icons="Climacons Animated"
                data-days="7"
                data-theme="weather_one"
        ></a>
    </div>

    <!-- nav button -->
    <div class="burger-btn">
        <div class="burger-btn__circle"></div>
        <div class="burger-btn__icon"></div>
    </div>

    <!-- nav -->
    <nav class="nav">
        <a href="/#offer" class="nav__item nav__btn1">Oferta</a>
        <a href="/#marina-data" class="nav__item nav__btn2">Dane nt mariny</a>
        <a href="/#price-list" class="nav__item nav__btn3">Cennik</a>
        <a href="/#news" class="nav__item nav__btn4">Aktualności</a>
        <a href="/#contact" class="nav__item nav__btn5">Kontakt</a>
        <a href="/login" class="nav__item nav__btn6">Logowanie</a>
        <a href="/place" class="nav__item nav__btn6">Parkowanie</a>
    </nav>


        {% block body %}{% endblock %}
        <footer class="footer">
            <div class="wrapper">
                <div class="footer__boxes">
                    <div class="footer__box">
                        <h3 class="footer__box-title">Dane kontaktowe</h3>
                        <p>Zachodniopomorski Uniwersytet Technologiczny w Szczecinie</p>
                        <p>Wydział Informatyki</p>
                        <p>ul. Zołnierska 49</p>
                    </div>
                    <div class="footer__box footer__box-desktop">
                        <h3 class="footer__box-title">Na skróty</h3>
                        <ul class="footer__box-list">
                            <li class="footer__box-list-item"><a href="#">Regulamin</a></li>
                            <li class="footer__box-list-item"><a href="#">Cennik</a></li>
                            <li class="footer__box-list-item"><a href="#">3</a></li>
                            <li class="footer__box-list-item"><a href="#">4</a></li>
                        </ul>
                    </div>
                    <div class="footer__box footer__box-desktop">
                        <h3 class="footer__box-title">Na skróty</h3>
                        <ul class="footer__box-list">
                            <li class="footer__box-list-item"><a href="#">5</a></li>
                            <li class="footer__box-list-item"><a href="#">6</a></li>
                            <li class="footer__box-list-item"><a href="#">7</a></li>
                            <li class="footer__box-list-item"><a href="#">8</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <p class="footer__bottom-text">Łukasz Kaszewski XXXXX WI ZUT</p>
        </footer>





    <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->
    <!-- <script src="./js/aos.js"></script> -->
    <!-- Bootstrap popper -->
{#    <script#}
{#            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"#}
{#            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"#}
{#            crossorigin="anonymous"#}
{#    ></script>#}


    {% block javascripts %}
        <!-- JS script -->
        <script src="{{ asset('assets/js/script.js') }}"></script>

        <!-- moving burger-btn -->
        <script src="{{ asset('assets/jquery/jquery-3.6.1.min.js') }}"></script>
        <script>
        $(document).ready(function () {
            var NavY = $(".burger-btn").offset().top - 45;

            var stickyNav = function () {
                var ScrollY = $(window).scrollTop();

                if (ScrollY > NavY) {
                    $(".burger-btn").addClass("sticky");
                } else {
                    $(".burger-btn").removeClass("sticky");
                }
            };

            stickyNav();

            $(window).scroll(function () {
                stickyNav();
            });
        });
    </script>
    {% endblock %}

    <!-- <script>
        alert("Projekt demonstracyjny");
    </script> -->
    </body>
</html>
