<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Czy jesteś pewnie, że chcesz SKASOWAĆ to konto?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="contact__form-btn btn-special-animation spacer">KASOWANIE KONTA</button>
</form>
