{% extends 'base.html.twig' %}

{% block body %}
    <div class="place">
        <h1>Dodaj nowego użytkownika</h1>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('app_user_index') }}">
            <button class="contact__form-btn btn-special-animation">Powrót</button>
        </a>
    </div>

{% endblock %}
