{% extends 'base.html.twig' %}

{% block title %}Hello PlacesController!{% endblock %}

{% block body %}
<div class="place">
    <img
            src="{{ asset('assets/img/marina-map.png') }}"
            alt="plan mariny"
            class="places__map"
    />
</div>
{% endblock %}
